<% layout("layouts/boilerplate") %>
<h3>Flats</h3>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for(let flat of flats){ %>
  <a href="/flats/<%= flat._id %>" class="listing-link">
    <div class="card col listing-card-3d listing-c">
      <img
        src="<%= flat.image.url %>"
        class="card-img-top"
        alt="room_image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-title">
        <p class="card-title">
          <b>&nbsp;&nbsp;<%= flat.title %></b> <br />
          <% if (flat.price != null) { %>
            &nbsp;&nbsp;&#8377;<%= flat.price.toLocaleString("en-IN") %>/night <br />
          <% } else { %>
            Price not available <br />
          <% } %>
          <br />
          &nbsp;&nbsp;<%= flat.description %> <br />
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
